* {
    background-color: inherit;
}

header {
    height: 750px;
    background-image: url("images/bg.jpg");
    color: whitesmoke;
    padding-left: 10px;
}

nav {
    display: inline-block;
    background-color: saddlebrown;
    width: 1480px;

}

footer {
    background-color: saddlebrown;
}

ul li {
    font-size: 1.5rem;
    display: inline;
    padding: 10px;
}

ul li a {
    color: whitesmoke;
}

#about {
    background-color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
}

#about img {
    padding: 3px;
    border-radius: 100px;
}

#portfolio {
    text-align: center;
    background-color: cornsilk;
}

#portfolio img {
    width: 600px;
}

#contacts {
    text-align: center;
    padding: 3px;
}

footer {
    text-align: center;
    height: 100px;
    font-size: 1.5rem;
    padding: 3px;
}

.window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid black;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 1;
    background-color: white;
    width: 500px;
    height: 250px;
    max-width: 80%;
    overflow: auto;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 899px) {
    .hamburger {
        display: block;
    }
}
